                header {
                    display: block;
                    transition: all 0.4s ease-in-out;
                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                }
                
                .header2 {
                    background-color: #131F33;
                    height: 10px;
                }
                
                #calendar {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 16px;
                }
                
                h1 {
                    color: #4C5C81;
                    font-family: Oswald;
                }
                
                h2 {
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                
                h5 {
                    color: #000000;
                    font-family: Oswald;
                }
                
                #calendar caption {
                    text-align: left;
                    padding: 10px 10px;
                    background-color: #203354;
                    color: #fff;
                    font-weight: bold;
                    font-size: medium;
                }
                
                #calendar caption div:nth-child(1) {
                    float: left;
                }
                
                #calendar caption div:nth-child(2) {
                    float: right;
                }
                
                #calendar caption div:nth-child(2) a {
                    cursor: pointer;
                }
                
                #calendar th {
                    background-color: #006699;
                    color: #fff;
                    width: 35px;
                }
                
                #calendar td {
                    text-align: right;
                    padding: 3px 5px;
                    background-color: white;
                }
                
                #calendar .hoy {
                    background-color: orangered;
                }
                
                .hola {
                    background: url(../img/master.jpg);
                    height: 900px;
                    height: calc(100vh - 155px);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    width: 100%;
                }
                
                .navbar {
                    display: flex;
                    padding: 0.5rem 1rem;
                }
                
                .footer {
                    text-align: center;
                    background-color: rgba(255, 208, 0, 0.973);
                }
                
                .boton {
                    border-radius: 15px;
                    background-color: #131F33;
                    size: 8px;
                    border-color: #203354;
                    justify-items: center;
                }
                
                h4 {
                    color: #000000;
                    font-family: Oswald;
                }
                
                h6 {
                    color: rgb(255, 217, 0);
                }
                /*animaciones*/
                
                .animate__animated.animate__backInLeft {
                    --animate-duration: 2s;
                }
                
                 :root {
                    --animate-duration: 800ms;
                    --animate-delay: 0.9s;
                }
                
                hr {
                    border-width: 1px !important;
                    background-color: rgba(0, 20, 85, 0.637);
                }
                
                .resalto1 {
                    color: rgba(38, 117, 219, 0.856);
                    box-shadow: #006699 2px 5px 5px;
                }
                
                .resalto2 {
                    color: rgba(38, 117, 219, 0.856);
                    box-shadow: #006699 2px 5px 5px;
                }
                
                #sec-1 {
                    margin-top: 25%;
                }
                
                #sec-2 {
                    background-color: white;
                }
                
                .parrafo1 {
                    text-align: start;
                    color: #0b41a5;
                    font-family: Montserrat;
                }
                
                .parrafo2 {
                    text-align: end;
                    color: #0b41a5;
                    font-family: Montserrat;
                }
                
                .parrafo22 {
                    text-align: end;
                    font-family: Montserrat;
                }
                
                .parrafo3 {
                    text-align: start;
                    color: #0b41a5;
                    font-family: Montserrat;
                }
                
                .parrafo33 {
                    text-align: start;
                }
                
                .parrafo4 {
                    text-align: end;
                    color: #0b41a5;
                    font-family: Montserrat;
                }
                
                .parrafo44 {
                    text-align: end;
                    font-family: Montserrat;
                }
                
                .quien {
                    font-family: Oswald;
                }
                /*footer*/
                
                .primary {
                    color: #131F33;
                }
                
                .secondary {
                    color: rgb(255, 217, 0);
                }
                
                .medio {
                    text-align: center;
                    margin-top: -10%;
                }
                
                .final {
                    text-align: end;
                    margin-top: -10%;
                }
                
                .principio {
                    text-align: start;
                }
                
                .final h1 {
                    color: yellow;
                }
                
                .principio h1 {
                    color: yellow;
                }
                
                .medio h1 {
                    color: yellow;
                }
                
                #section-04 {
                    background-color: white;
                    font-family: Oswald;
                }
                
                .azul {
                    color: #006699;
                    font-family: Oswald;
                }
                
                .abogado {
                    width: 390px;
                    height: 350px;
                    border-radius: 10px;
                }
                
                .abogado2 {
                    text-align: center;
                    margin-left: 0%;
                    margin-right: 7%;
                }
                
                .unity {
                    margin-top: 2%;
                    color: white;
                    font-family: Oswald;
                }
                
                #section-05 {
                    background-color: black;
                    font-family: Oswald;
                }
                
                .linea {
                    background-color: white;
                    border-width: 3px !important;
                }
                
                .noticias {
                    color: rgb(255, 217, 0);
                    margin-left: 3.5%;
                }
                
                .texto {
                    color: white;
                    font-family: Oswald;
                }
                
                .texto2 {
                    color: white;
                }
                
                .texto22 {
                    color: #f2f2f2;
                }
                
                .seccion3 {
                    font-family: Oswald;
                }
                
                .texto_p {
                    font-size: 18px;
                    text-align: center;
                }
                
                .texto_p br {
                    display: none;
                }
                
                .header3 {
                    display: none;
                }
                
                @media (max-width: 576px) {
                    .texto_p {
                        display: none;
                    }
                    .texto_p br {
                        display: initial;
                    }
                    .texto_p_hr {
                        width: 70%;
                    }
                    .texto_p1 {
                        margin-top: 2%;
                        font-size: 30px;
                        text-align: center;
                    }
                    /*
                    .boton_mas .mt-5 {
                        margin-top: 0px !important;
                    }
                    .boton_mas .pt-5 {
                        padding-top: 0px !important;
                    }
                    .texto_p2 .mb-5 {
                        margin-bottom: 0px !important;
                    }
                    .texto_p2 .pb-5 {
                        padding-bottom: 0px !important;
                    }*/
                    .header2 {
                        display: none;
                    }
                    .header1 {
                        display: none;
                    }
                    .brs {
                        display: none;
                    }
                    .header3 {
                        display: block;
                    }
                    .boton_ayuda {
                        max-width: 80%;
                    }
                    .boton_ayuda1 {
                        margin-left: 15%;
                        margin-top: 5%;
                    }
                    .navbar-light .navbar-toggler-icon {
                        margin-right: 1%;
                    }
                    .item {
                        color: #4C5C81;
                    }
                    .calen {
                        display: none;
                    }
                    .ubicacion {
                        margin-top: 12%;
                    }
                    .ordenador {
                        margin-top: 4%;
                    }
                    .fluid {
                        margin-left: 15%;
                    }
                    .fluid2 {
                        margin-left: 10%;
                    }
                }
                
                @media (min-width: 768px) and (max-width: 991.98px) {
                    .texto_p {
                        display: none;
                    }
                    .texto_p br {
                        display: initial;
                    }
                    .texto_p_hr {
                        width: 70%;
                    }
                    .texto_p1 {
                        margin-top: 2%;
                        font-size: 30px;
                        text-align: center;
                    }
                    .princi {
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    /*
                    .boton_mas .mt-5 {
                        margin-top: 0px !important;
                    }
                    .boton_mas .pt-5 {
                        padding-top: 0px !important;
                    }
                    .texto_p2 .mb-5 {
                        margin-bottom: 0px !important;
                    }
                    .texto_p2 .pb-5 {
                        padding-bottom: 0px !important;
                    }*/
                    .header2 {
                        display: none;
                    }
                    .header1 {
                        display: none;
                    }
                    .brs {
                        display: none;
                    }
                    .header3 {
                        display: block;
                    }
                    .boton_ayuda {
                        max-width: 80%;
                    }
                    .boton_ayuda1 {
                        margin-left: 15%;
                        margin-top: 5%;
                    }
                    .navbar-light .navbar-toggler-icon {
                        margin-right: 1%;
                    }
                    .item {
                        color: #4C5C81;
                    }
                    .calen {
                        display: none;
                    }
                    .ubicacion {
                        margin-top: 7%;
                    }
                    .ordenador {
                        margin-top: 1%;
                    }
                    .fluid {
                        margin-left: 5%;
                    }
                    .fluid2 {
                        margin-left: 5%;
                    }
                    .foto {
                        margin-top: 9%;
                    }
                }
                
                .hrfooter {
                    background-color: #000000;
                }
                
                .areas {
                    font-family: Oswald;
                }
                
                .botonpequeño {
                    background-color: rgba(0, 20, 85, 0.637) !important;
                }
                
                .ubicacion {
                    width: 55px;
                    height: 55px;
                }